/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    background-color: #000;
    color: #fff;
    font-family: sans-serif;
    direction: rtl;
    min-height: 100vh;
}

/* הויפט בלאט קאנטעינער */
.home-container {
    padding: 50px 20px;
    text-align: center;
}

.main-logo {
    color: #38bdf8;
    font-size: 2.8rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}

/* די גריד סיסטעם - דאס וועט מאכן די קנעפלאך שיין */
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* צוויי קאלומס */
    gap: 20px;
    padding: 10px;
    margin-top: 30px;
}

.menu-btn {
    background: #111;
    border: 2px solid #222;
    border-radius: 25px;
    padding: 40px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.menu-btn:active {
    transform: scale(0.95);
    background: #1a1a1a;
}

.menu-btn i {
    font-size: 2.5rem;
    color: #38bdf8;
}

.menu-btn span {
    font-weight: bold;
    font-size: 1.1rem;
}

/* פאר די טשעט און גרופעס */
.chat-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    }
